@charset "UTF-8";
html {
  font-size: 100%;
}

header #title {
  text-algin: center;
  color: #f37053;
}

header nav a{
  flex-direction: row;
}

mainã€€{
  margin: 50px auto;
  text-align: center;
}
